extends template.pug

block isi
	p Hello world

	.modal.modalLoginDulu
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Login dulu

block js
	include:uglify-js:babel(presets=['env']) index.js