extends template.pug

block isi
	.alert.alert-info 
		.close.logout &times;
		| Halo #[span.usernamenya]

	table.table.table-bordered
		thead
			tr
				th Tanggal
				th Surat
				th Dari
				th Ke
		tbody.datanya

	.modal.modalLoginDulu(data-backdrop='static')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Login dulu
				.modal-body
					form.formLogin
						.form-group
							label Username
							input.form-control.usernameLogin(required)
						.form-group
							label Password
							input.form-control.passwordLogin(type='password' required)
						.form-group
							input.btn.btn-info(type='submit' value='Login')
				.modal-footer Belum punya akun? #[a(href='daftar.html') Daftar sekarang] 

	.modal.modalTambah
		.modal-dialog
			.modal-content
				.modal-header
					.close(data-dismiss='modal') &times;
					h4.modal-title Tambah hafalan
				.modal-body
					form.formTambah
						.form-group
							label Tanggal
							input.form-control.tambahTanggal(readonly)
						.form-group
							label Surat
							input.form-control.tambahSurat
						.form-group
							label Dari
							input.form-control.tambahDari(type='tel')
						.form-group
							label Ke
							input.form-control.tambahKe(type='tel')
						.form-group
							input.btn.btn-primary(type='submit' value='Tambahkan')

block js
	include:uglify-js:babel(presets=['env']) index.js

block diLuarContainer
	.navbar.navbar-default.navbar-fixed-bottom
		.container
			table.table.table-bordered
				tbody
					tr
						td: .btn.btn-default(href='https://trakteer.id/mzaini30') Donasi
						td: .btn.btn-primary.tambahHafalan Tambah

block css
	include:uglify-css:stylus index.stylus