extends template.pug

block isi
	.alert.alert-info 
		.close.logout &times;
		| Halo #[span.usernamenya]

	table.table.table-bordered
		thead
			tr
				th Tanggal
				th Surat
				th Dari
				th Ke
		tbody.datanya

	.modal.modalLoginDulu(data-backdrop='static')
		.modal-dialog
			.modal-content
				.modal-header
					h4.modal-title Login dulu
				.modal-body
					form.formLogin
						.form-group
							label Username
							input.form-control.usernameLogin(required)
						.form-group
							label Password
							input.form-control.passwordLogin(type='password' required)
						.form-group
							input.btn.btn-info(type='submit' value='Login')
				.modal-footer Belum punya akun? #[a(href='daftar.html') Daftar sekarang] 

block js
	include:uglify-js:babel(presets=['env']) index.js

block diLuarContainer
	.navbar.navbar-default.navbar-fixed-bottom
		.container
			table.table.table-bordered
				tbody
					tr
						td
							.btn.btn-primary.tambahHafalan Tambah

block css
	include:uglify-css:stylus index.stylus