doctype html
html
	head
		block judul
			title Murajaah
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		link(rel='manifest' href='/manifest.json')
		link(rel='apple-touch-icon' href='/icon/72.png')
		link(rel='apple-touch-icon' href='/icon/96.png')
		link(rel='apple-touch-icon' href='/icon/128.png')
		link(rel='apple-touch-icon' href='/icon/144.png')
		link(rel='apple-touch-icon' href='/icon/152.png')
		link(rel='apple-touch-icon' href='/icon/192.png')
		link(rel='apple-touch-icon' href='/icon/384.png')
		link(rel='apple-touch-icon' href='/icon/512.png')
		meta(name='apple-mobile-web-app-status-bar' content='#db4938')
		meta(name='theme-color' content='#db4938')


		link(rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css')
		style
			include:uglify-css:stylus template.stylus
			block css
	body 
		.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					.navbar-brand Murajaah
		.container
			block isi
		block diLuarContainer
		.loading.sembunyi
			img.kelinci(src='kelinci.gif')
		script(src='vendor/jquery.min.js')
		script(src='vendor/bootstrap/js/bootstrap.min.js')
		script(src='vendor/olahJson.min.js')
		script 
			include:uglify-js:babel(presets=['env']) template.js
			block js